.header{
    height: 30px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(53, 48, 144);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228)
}
.header a{
    color: white;
    text-decoration: none;
}
.header .sign-in,
.header .sign-up
{
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}
